$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

figure {
    margin: 0!important;
    width: 100%!important;
    img {
        max-width: 400px!important;
    }
}

#results {
    max-width: 100%;
    img {
        width: 100%!important;
        max-width: 400px;
    }
}

.result-title {
    color: red;
}

.result-title-issue {
    font-size: 24px;
}

.input-field>label {
    position: relative!important;
}
select {
    display: block!important;
}